/* variables de colores de la pagina */

:root {
    --color-fondo: #eec1e3;
    --color-secundario: #C29FFA;
    --color-enlaces: rgb(10, 10, 173);
    --color-subrayado: rgb(100, 100, 204);
    --color-texto: #444;
    --fuente-principal: sans-serif;
}

/* Reseteo básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* estilos del GLOBAL del body */

body {
    font-family: var(--fuente-principal);
    line-height: 1.6;
    background-color: var(--color-fondo);
    }

/* estilos GLOBAL del header */

header {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

h1 {
    text-align: center;
    color:var(--color-enlaces);
    font-family: 'mea culpa', cursive;
    font-size: 3rem;
    font-weight: bolder;
    line-height: 1;
}  

div h1 span {
    display: block;
    color: var(--color-subrayado);
    font-size: 0.5em;
    letter-spacing: 2px;
    margin-top: 10px;
    font-family: sans-serif;
    font-size: 0.3em;
}

.logo-principal{
    display: none;
}

.navbar{
    background-color: var(--color-secundario);
    border-radius: 8px;
}

.navbar .collapse .nav-link {
    color:var(--color-enlaces);      
}

.navbar .collapse .nav-link:hover {
    color:#6610f2;
    transform: translateY(-2px);
}

.navbar .navbar-toggler {
    border: 2px solid var(--color-enlaces);
    padding: 4px 8px;
    outline: none;
    box-shadow: none !important;    
}

.navbar-toggler-icon{
    filter: sepia(100%) hue-rotate(190deg) saturate(500%);
}

/* estilos para el main esxlusivo del INDEX*/

.container-principal{
    background-color: var(--color-secundario);
    width: 100%;
}

main, .section-list {
    background-color: transparent;
    padding: 20px;
    margin: 0 auto; 
}

.container-services {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 900px; 
    margin: 0 auto;   
    padding: 10px;   
}

.tarjeta{
    order: 1;
}

.imagenes-principal{
    order: 2;
}

/* estilos para subtitulos */

.container-services h2, .container-services h3 {
    color: var(--color-enlaces);
    margin-bottom: 20px;
    font-family: var(--fuente-principal);
    position: relative;
    font-weight: bold;
    display: block;
}

/* estilo para cortar parrafo */

.container-services summary {
    list-style: none;
    color: #6f42c1;
    cursor: pointer;
    font-weight: bold;
    text-decoration: underline;
    margin-top: 10px;
    outline: none;
}

/* boton de ver mas */

.container-services summary::after {
    content: '+';
}

/* una vez abierto ver menos */

.container-services [open] summary::after {
    content: '-';
}

/*  espacio una vez abierto el resto del parrafo */

.container-services [open] summary {
    margin-bottom: 25px;
}

/* estilo de subrayado personal a los subtitulos */

.container-services h2::after, .container-services h3::after {
    content: '';
    display: block;
    width: 50px;
    height: 3px;
    background: var(--color-subrayado);
    margin-top: 5px;
    border-radius: 2px;
}

/* estilo de parrafos */

.container-services p {
    font-size: 1.05rem;
    line-height: 1.7;
    color: var(--color-texto);
    margin-bottom: 30px;
    text-align: justify;
}
/* contenedores de la pagina principal */


.tarjeta {
    background: #e7e2f8;
    padding: 25px; 
    border-radius: 15px;
    border-left: 5px solid #6610f2;
    margin-bottom: 20px; 
    box-shadow: 0 4px 15px rgba(0,0,0,0.05); 
}

.container-services .imagenes-principal {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    margin-bottom: 40px;
}

/* imagenes de la pagina principal */

.container-services .imagenes-principal img, 
.imagenes-coach img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
}

.no-mobile{
    display: none;
}

aside img:nth-of-type(3) {
    object-position: 90%;
}

aside img:hover {
    transform: scale(1.03);
}


/* estilos GLOBAL del footer */

footer {
    background-color: var(--color-secundario);
    color: var(--color-enlaces);
    padding: 20px 20px;
    text-align: center;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.footer-final .footer-info-centro {
    font-size: 1rem;
    opacity: 0.7;
    margin-top: 10px;
}

.social-icons a {
    font-size: 1.8rem;
    transition: transform 0.3s ease, color 0.3s ease;
}

/* Efecto al tocar o pasar el mouse */

.social-icons a:hover {
    color: #6610f2;
    transform: scale(1.1);
}

.social-icons .whatsapp-link-footer{
    display: none;
}

/* boton de whatsapp flotante */

.whatsapp-btn {
    position: fixed;
    width: 40px;
    height: 40px;
    bottom: 20px;
    right: 20px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 25px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    text-decoration: none;
    transition: transform 0.3s ease;
}

.whatsapp-btn:active {
    transform: scale(1.1);
    background-color: #128c7e;
}

/* estructura de estilos para paginas auxiliares */

.imagenes-coach, .imagenes-meditacion,
.imagenes-sonoro, .imagenes-reiki{
    display: contents;
}

.imagenes-coach .imagen-inicio,
.imagenes-meditacion .imagen-inicio,
.imagenes-sonoro .imagen-inicio,
.imagenes-reiki .imagen-inicio {
    order: 1;
    width: 100%;
    height: auto;    
    border-radius: 15px;
    margin: 10px 0;
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}


.tarteta.texto-articulo{
    order: 2;
}

.imagenes-coach .imagen-final,
.imagenes-meditacion .imagen-final,
.imagenes-sonoro .imagen-final,
.imagenes-reiki .imagen-final{
    order: 3;
    width: 100%;
    height: auto;    
    border-radius: 15px;
    margin: 10px 0;
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

.texto-articulo p span {
    font-size: 1.1rem;
    line-height: 1.7;
    color: #6610f2;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: justify;
    display: block;
}

.footer-services-list{
    list-style: none;
    padding: 0;
}

.footer-services-list li{
    margin: 10px 0;
}

.footer-services-list li a{
    text-decoration: none;
    font-weight: 500;
}

.footer-services-list li a:hover{
    color:#6610f2;
    transform: translateY(-2px);
}
